/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #c54651;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Navigation styles */
nav {
    background-color: #0f70b5;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 20px 0;
}
main ul{
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
}
main ul li {
    display: inline;
    margin: 0 10px;
}
main ul li a {
    color: #0f70b5;
    text-decoration: none;
}

main ul li a:hover {
    text-decoration: underline;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #15b93b;
    color: white;
    text-align: center;
    padding: 10px 0;
}
